<% if field.transform %>
  <table class="csvtable">
    <% if field.headers.any? %>
      <thead>
        <tr>
          <% field.headers.each do |header| %>
            <th class="cell-label"><%= header %></th>
          <% end %>
        </tr>
      </thead>
    <% end %>

    <tbody>
      <% field.transform.each do |row| %>
        <tr>
          <% row.each do |k,v| %>
            <td class="cell-data cell-data--string">
              <% if field.has_headers? %>
                <%= v %>
              <% else %>
                <%= k %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <%= field.blank_sign %>
<% end %>
